* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 20rem;
    max-width: 77.5rem;
    margin: auto;    
    padding: 0 2rem;
}

h1, h2, h3 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nombre-avatar {
    display: flex;
    flex-direction: column;
}

.introduccion {
    display: flex;
    flex-direction: column;
}

.avatar img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.nombre {
    font-weight: lighter;
}

.apellido {
    font-size: 3rem;
    font-weight: bolder;
    display: block;
}

.nombre-apellido, .titulo {
    padding: 0;
}

.contacto {
    flex: 1 1 0;
}

.sobre-mi {
    flex: 2 1 0;
}

.contacto ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trabajos .descripcion p {
    margin: 0;
}

.trabajo .descripcion {
    margin-top: 1rem;
    list-style-type: disc;
    margin-left: 1.1rem;
}

@media (min-width: 64rem), print {
    body {
        padding: 0 5rem;
    }

    h1, h2, h3 {
        letter-spacing: 0.4rem;
    }

    a {
        font-size: unset
    }
    
    i.material-icons {
        font-size: unset;
    }

    .nombre-avatar {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 2rem;
        border-left: 0.3rem solid;
        padding-top: 4rem;
        margin-bottom: 4rem;
    }

    .nombre-apellido {
        margin-bottom: 0;
    }

    .nombre-apellido-titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 0.15rem solid;
        flex: 2 1 0;
        gap: 1rem;
    }

    .titulo {
        margin: 0;
    }

    .avatar {
        flex: 1 1 0;
        display: flex;
        justify-content: center;
    }

    .introduccion {
        flex-direction: row;
        gap: 2rem;
        border-bottom: 0.15rem solid;
        padding-bottom: 2rem;
    }

    .desarrollo {
        padding-top: 2rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .desarrollo h2 {
        text-decoration: underline;
    }

    .desarrollo h3 {
        letter-spacing: unset;
    }

    .experiencia {
        flex: 2 1 0;
    }

    .formacion {
        flex: 1 1 0;
    }

    .trabajos {
        margin-left: 2rem;
    }

    /* Puntos de la línea de tiempo */
    li.trabajo::before {
        content: '';
        width: 0.4rem;
        height: 0.4rem;
        background-color: black;
        border-radius: 50%;
        display: block;
        position: absolute;
        margin: 1.6rem 0 0 -1.6rem;
    }
}

@media only screen and not (min-width: 64rem) {
    h2 {
        text-decoration: underline;
    }    
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    body {
        font-size: 0.75rem;
    }

    .apellido {
        font-size: 1.5rem;
    }

    .avatar img {
        width: 6rem;
        height: 6rem;
    }

    .nombre-avatar {
        margin-bottom: 1rem;
    }

    .nombre-apellido-titulo {
        padding-bottom: 1rem;
    }

    /* Puntos de la línea de tiempo */
    .trabajos li::before {
        margin-top: 1.2rem;
    }
}