body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    min-width: 20rem;
    max-width: 77.5rem;
    margin: auto;
    padding: 0 2rem;
}

.nombre-avatar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.introduccion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.avatar img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.nombre {
    font-weight: lighter;
}

.apellido {
    font-size: 3rem;
    font-weight: bolder;
    display: block;
}

.nombre-apellido, .titulo {
    padding: 0;
}

.contacto {
    flex: 1 1 0;
}

.sobre-mi {
    flex: 2 1 0;
}

.contacto ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.en-construccion {
    opacity: 0.5;
    margin-top: 10rem;
}

.nombre-avatar, .introduccion {
    gap: 2rem;
}

@media only screen and (min-width: 64rem) {
    body {
        padding: 0 5rem;
    }

    .nombre-avatar {
        flex-direction: row-reverse;
        justify-content: center;
        border-left: 0.3125rem solid;
        padding-top: 4rem;
        margin-bottom: 4rem;
    }

    .nombre-apellido-titulo {
        padding-bottom: 5rem;
        border-bottom: 0.15625rem solid;
        flex: 2 1 0;
    }

    .avatar {
        flex: 1 1 0;
        display: flex;
        justify-content: center;
    }

    .introduccion {
        flex-direction: row;
    }    
}