body {
    background-color: gainsboro;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 3rem;
    justify-content: center;
}

.example-title {
    text-transform: uppercase;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 3;
    margin: 1rem;
    border-radius: 0.5rem;
}

.gallery__item {
    margin: 0;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
}

.gallery__img {
    background-color: white;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    margin: 0 1rem;
    width: 93%;
}
